<!DOCTYPE html>
<html class="no-js" lang="">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Teacher | Exam Grade</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
          <!-- Breadcubs Area Start Here -->
          
          <!-- Breadcubs Area End Here -->
          
          <!-- Class Routine Area Start Here -->
          <div class="row">
            <div class="col-8-xxxl col-12">
              <div class="card height-auto">
                <div class="card-body">
                  
                  
                  <div class="table-responsive">
                    <table method="post" class="table display data-table text-nowrap">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check">
                              <input
                                type="checkbox"
                                class="form-check-input checkAll"
                              />
                              <label class="form-check-label">Grade ID</label>
                            </div>
                          </th>
                          <th>Student ID</th>
                          <th>Subject ID</th>
                          <th>Class ID</th>
                          <th>Section ID</th>
                          <th>Final Grade</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < gradeList.length; i++){ %>
                        <tr>
                          </td>
                          <td><%= gradeList[i].grade_id %></td>
                          <th><%= gradeList[i].student_id %></th>
                          <th><%= gradeList[i].subject_id %></th>
                          <th><%= gradeList[i].subject_id %></th>
                          <th><%= gradeList[i].class_id %></th>
                          <th><%= gradeList[i].section_id %></th>
                          <th><%= gradeList[i].finalgrade %></th>
                          <td>
                            <div class="dropdown">
                              <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <span
                                  class="flaticon-more-button-of-three-dots"
                                ></span>
                              </a>
                              <!-- <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#"
                                ><i class="fas fa-times text-orange-red"></i
                                >Close</a
                              >
                              <a class="dropdown-item" href="#"
                                ><i
                                  class="fas fa-cogs text-dark-pastel-green"
                                ></i
                                >Edit</a
                              >
                              <a class="dropdown-item" href="#"
                                ><i
                                  class="fas fa-redo-alt text-orange-peel"
                                ></i
                                >Refresh</a
                              >
                            </div> -->
                            </div>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Class Routine Area End Here -->

          <footer class="footer-wrap-layout1"></footer>
        </div>
      </div>
      <!-- Page Area End Here -->
    </div>

  </body>
</html>
